* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #be7515;
    background-size: cover;
    height:auto;
}

/* Estilos da Cabeçalho */
.header {
    background-color: #D2691E; /* Fundo escuro semi-transparente */
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Menu de Navegação */
.navbar {
    background-color: #9d570c;
    padding: 1rem;
    text-align: center;
}

.navbar a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

main{
    height:500px;
    margin:auto;
    background-color:#be7515;
    width:100%
}
section{
    background-color: #a80f68;
    width:60%;
    height:auto;
    border:#FFF solid 1px;
    margin:10px 5px;
    padding:20px;
    float:left;
    margin-bottom:15px
}
.section h2 {
    text-align:center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.service {
    background-color: #199fd0;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#horarios{
    border:#a80f68 solid 1px;
    width:35%;
    height:auto;
    float:right;
    margin-right:10px;
    margin-top:10px;
    padding:20px;
}

 #contato{
    position:fixed;
    margin-right:4px;
    float:right;
    right:5%;
    bottom:0}
 #contato img{width:300px;border-radius: 10px;height:auto}
/* Rodapé */
.footer {
    background-color: rgba(6, 6, 6, 0.8);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    width:100%;
    margin:auto;
    overflow:hidden;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:700
}
@media only screen and (max-width:600px)
{body{padding-top:80px;margin:0}
header{width:100%}
h1{font-size:2.5em}h2{font-size:1.5em}
main{width:97%;margin:auto;height:auto}
section{width:95%;margin:15px auto;height:auto;margin-left:2%}
#contato img{width:200px;height:auto}
#horarios{height:auto;width:95%;margin:15px auto;margin-right:2%}
.footer{width:100%;height:100px}#copy{margin:10px}}